@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
* {
    padding: 0px;
    margin: 0px;
   
}
element.style{
   margin: 0px;
}
:root {
    --color1: #161A1E;
    --color2: #ffffff;
    --color3: #6BB2F9;
    --color4: #B5D6F7;
    --color5: #345678;
    --color4: #8fabc413;
    --font2:'Clicker Script', cursive;

}

body{
    background-color: var(--color4);
 
}

.frame{
    background-color: var(--color2);
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    padding: 15px;
    min-width: 1500px;
    
 
}

header {
    background: #161A1E;
    text-align: center;
}

header  h1{
    font-family: var(--font);
    color: var(--color2);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
}
header img {
    width: 200px;
    height: auto;
}

.col-2{
    column-count: 2;
    column-gap: 15px;
    -webkit-column-count: 2;
    align-items:baseline;
}
body div{
    margin-bottom: 100px;
    margin-left: 100px;
    margin-left: 100px;
}
div.bio{
    margin-top: 100px;
}
div p{
    margin-top: 75px;
}
div h1 {
    margin: 1px;
}
 div img {
    margin-left: 50px;
 }
 .me {
    margin-top: 50px;
    width: 400px;
    height: auto;
}
.news {
    
}
.news h1 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news h2{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;

}
.news p{
    margin: 0px;
    font-size: 16px;
    text-align: justify;
    width: 750px;
}


footer {
    background-color: var(--color3);
    height: 250px;
    text-align: center;   
}
.text {
    padding: 15px;
}
footer > div {
    font: 'Clicker Script', cursive;
    
}
.copyright {
    font: 'Clicker Script', cursive;
    color: var(--color2);

}
.footer {
    background-color:var(--color1);
    color: var(--color2);
    height: 200px;
    width: auto;
    margin: 0px;
    text-align: center;
    
}




